@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); 
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link{
    font-size: 2rem;
    font-weight: 500;
    color: #212121;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 3rem;
    font-weight: 900;
    color: #212121;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        height: 100vh;
        /* box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05); */
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* Hero Starts */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.hero .img img{
    width: 500px;
}

.hero .context p {
    font-size: 20px;
    margin: 10px;
}

.hero .context a{
    display: flex;
    font-size: 20px;
    background-color: #fc4445;
    /* border: 2px solid #212121; */
    padding: 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    align-items: center;
}

.hero .context a img{
    width: 40px;
    margin-right: 10px;
}

.hero .context {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

/* Hero Ends */

/* Footer Starts */

.foot .info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.foot {
    padding: 30px;
    background-color: #212121;
    margin-top: 20px;
}

.foot .info p{
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.foot .info p a{
    color: #fc4445;
}

/* Footer Ends */


@media only screen and (max-width: 768px) {

    .hero .img img{
        width: 200px;
    }
    
    .hero .context p {
        font-size: 15px;
        margin: 10px;
    }
    
    .hero .context a{
        font-size: 10px;
        padding: 10px;
    }

    .foot {
        padding: 20px;
    }

    .foot .info p {
        font-size: 10px;
    }
}